@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;

    font-family: 'Quicksand', sans-serif;
    background-color: #202020;

}

h1 {
    font-family: 'Anton', sans-serif;
    color: #F1F1F1;
    /* font-size: 6vw; */
    font-size: 90px;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-family: 'Anton', sans-serif;
    color: #F1F1F1;
    /* font-size: 3vw; */
    font-size: 45px;
    margin-top: 40px;
}

h3 {
    font-family: 'Anton', sans-serif;
    color: #F1F1F1;
    /* font-size: 1.5vw; */
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 25px;
}

h4 {
    font-family: 'Anton', sans-serif;
    color: #F1F1F1;
    /* font-size: 1.5vw; */
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 20px;
    letter-spacing: 1px;

}

.aboutText {
    color: #F1F1F1;
    font-weight: 300;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 5px;
    line-height: 20px;

}

p {
    font-family: 'Open Sans', sans-serif;
}

.smallColumn {
    float: left;
    color: #F1F1F1;

    /* hier moet nog naar de breedte gekeken worden */
    /* width: 450px; */
    width: 100%;
    padding: 1px;
    height: 0px;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    flex-wrap: nowrap;
}

.column {
    float: left;
    color: #F1F1F1;

    /* hier moet nog naar de breedte gekeken worden */
    /* width: 450px; */
    width: 30%;
    padding: 1px;
    height: 0px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 250px;

}

.columnHeader {
    float: left;
    color: #F1F1F1;
    height: 0px;
    font-size: 20px;
    font-weight: 700;

}

.columnLeft {
    float: left;
    color: #F1F1F1;
    /* width: 250px; */
    width: 45%;
    padding: 0px;
    height: 30px;
    margin-top: 10px;
    font-weight: 300;

    display: flex;
    flex-wrap: nowrap;

}

.columnRight {
    float: left;
    color: #F1F1F1;
    /* width: 100px; */
    width: 25%;
    padding: 0px;
    height: 30px;
    margin-top: 10px;
    font-weight: 300;

    display: flex;
    flex-wrap: nowrap;


}

.toptext {
    position: absolute;
    z-index: 1;
}

.info{
    position: absolute;
    z-index: 3;
    margin-right: 2%;
    right: 0;
    cursor: pointer;
}


