/* slider css properties */

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 15px;
    border-radius: 7.5px;
    background: #5C5C5C;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #919090;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #919090;
    cursor: pointer;
}

/* filters css properties */

.filters {
    background-color: #282828;
    border-radius: 10px;
    padding: 0.5%;
    margin-top: 1em;;
}

.checkboxContainer{
    display: flex;
}

.checkbox {
    display: flex;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

input{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.checkboxesHeaderText {
    color: #F1F1F1;
    font-weight: 700;
    font-size: 1.5em;
}

.checkboxText {
    color: #F1F1F1;
}

#checkboxHappy {
    accent-color: green;
}

#checkboxSad {
    accent-color: blue;
}

#checkboxAngry {
    accent-color: red;
}

#checkboxSurprised {
    accent-color: yellow;
}

#checkboxScared {
    accent-color: orange;
}

#checkboxDisgusted {
    accent-color: purple;
}

#checkboxNeutral {
    accent-color: grey;
}






/* svg visual css properties */

svg {
    width: 100%;
    background: transparent;
}

.scatterplotContainer {
    width: 100%;
    position: relative;
    z-index: 2;
}

g {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.happy {
    fill: green;
    stroke: green;
    stroke-width: 3px;
}

.sad {
    fill: blue;
    stroke: blue;
    stroke-width: 3px;
}

.angry {
    fill: red;
    stroke: red;
    stroke-width: 3px;
}

.surprised {
    fill: yellow;
    stroke: yellow;
    stroke-width: 3px;
}

.scared {
    fill: orange;
    stroke: orange;
    stroke-width: 3px;
}

.disgusted {
    fill: purple;
    stroke:purple;
    stroke-width: 3px;
}

.neutral {
    fill: grey;
    stroke: gray;
    stroke-width: 3px;
}

.tooltip {
    display: block;
    position: absolute;
    background-color: white;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

/* user visual style */

.uservisual {
    width: 100%;
}

/* live bar chart style */

.barchartContainer {
    width: 100%;
    position: relative;
    z-index: 2;
}




